
html { font-size:18px; }

body {
	font-size: 1.5em;
	font-family: "futura-pt";
}

a {
	color: #777;
	text-decoration: underlined;
}

#container {
	width: 90%;
	margin:0px auto;
	text-align: center;
}

h1 {
	font-size: 2em;
	margin:0;
}

p { margin:0; }

#message{
	font-size:.75em;
}

.copyright { margin-top:5%;font-size:.5em; }

#tip{
	height:28px;
	margin:10px auto 0px auto;
	width:200px;
}

#tip p{
	display:none;
	
	font:sans-serif;
	font-size:.5em;
	color:#fff;
	padding:5px 10px;
	background-color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.5);
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
